.navbar a:hover{

background-color: lightgray;
border-radius: 10px ;
}
.category:hover{
    color:rgb(7, 123, 239) ;
    background-color: lightgray;
    border-radius: 10px ;

}
#blog-menu ul{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
#blog{
   
    list-style: none;
    text-align: center;
}
#blog a{
   
   text-decoration: none;
    font-size: 25px;
    color: brown;
}
.blog{

    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    text-decoration: underline;

}